[koji]
realm = {{ sigul_ipa_realm }}
;url of XMLRPC server
server = {{ sigul_koji_hub_url }}

;url of web interface
weburl = {{ sigul_koji_web_url }}

;url of package download site
topurl = {{ sigul_koji_files_url }}

;path to the koji top directory
;topdir = {{ sigul_koji_mount }}

; https ca, not for ssl auth
serverca = {{ sigul_koji_ca_bundle }}

anon_retry = true
authtype = kerberos
principal = {{ sigul_principal }}
keytab = {{ sigul_keytab }}
